<h1><%=@user.name.capitalize%>'s Profile</h1>
<h2 class="d-flex pastevents"> Attended Events </h2>
<hr>
<%@user.reload.activities.past_events.each do |event|%>
    <h3 class="livetitle"><%=event.name%></h3>
    <p class="livec">
        Date: <%=event.date%>
    </p>
    <p>
       Description: <%=event.description%>
    </p>
    <hr>
<%end%>
<h2 class="futureevents"> Attending Events </h2>
<%@user.reload.activities.future_events.each do |activity|%>
    <h3 class="livetitle"><%=activity.name%></h3>
    <p class="livec">
        Date: <%=activity.date%>
    </p>
    <p>
        Host: <%=activity.creator.name%>
    </p>
    <p>
       Description: <%=activity.description%>
    </p>
    <hr>
<%end%>

