<h1 class="d-flex"> Events </h1>
<hr>
<%@event.each do |event|%>
    <h3><%=event.name%></h3>
    <p>
        Date: <%=event.date%>
    </p>
     <p>
        Host: <%=event.creator.name%>
    </p>
    <p>
       Description: <%=event.description%>
    </p>
    <h4>Attending this event</h4>
    <p>
       <%# =>: <%=event.attendees%> %>
    </p>
    <hr>
<%end%>
<%# form_with model attendees %>

